<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.jdydev" level="INFO" />
	<logger name="com.jme3.bullet.control.MMOCharacterControl"
		level="INFO" />
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>